img {
  width: 20%;
}

.menu {
  overflow: hidden;
  background-color: #333;
}

.menu-item {
  float: left;
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

.menu-item:hover {
  background-color: #111;
  color: gray;
}

.selected {
  background-color: green;
}

.ball, .report {
  margin: 20px;
}

table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 0px;
  padding: 10px;
}

.report-entry:nth-child(even) {
    background-color: #dddddd;
}